<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated PCG -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pcg.presentation.PcgModelWizardID"
            name="%_UI_PcgModelWizard_label"
            class="pcg.presentation.PcgModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcgModelFile.gif">
         <description>%_UI_PcgModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated PCG -->
      <editor
            id="pcg.presentation.PcgEditorID"
            name="%_UI_PcgEditor_label"
            icon="icons/full/obj16/PcgModelFile.gif"
            extensions="pcg"
            class="pcg.presentation.PcgEditor"
            contributorClass="pcg.presentation.PcgActionBarContributor">
      </editor>
   </extension>

</plugin>
