<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tosca -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.ugoe.cs.oco.tosca.presentation.ToscaModelWizardID"
            name="%_UI_ToscaModelWizard_label"
            class="de.ugoe.cs.oco.tosca.presentation.ToscaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToscaModelFile.gif">
         <description>%_UI_ToscaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tosca -->
      <editor
            id="de.ugoe.cs.oco.tosca.presentation.ToscaEditorID"
            name="%_UI_ToscaEditor_label"
            icon="icons/full/obj16/ToscaModelFile.gif"
            extensions="tosca"
            class="de.ugoe.cs.oco.tosca.presentation.ToscaEditor"
            contributorClass="de.ugoe.cs.oco.tosca.presentation.ToscaActionBarContributor">
      </editor>
   </extension>

</plugin>
