<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated POG -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pog.presentation.PogModelWizardID"
            name="%_UI_PogModelWizard_label"
            class="de.ugoe.cs.oco.pog.presentation.PogModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PogModelFile.gif">
         <description>%_UI_PogModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated POG -->
      <editor
            id="pog.presentation.PogEditorID"
            name="%_UI_PogEditor_label"
            icon="icons/full/obj16/PogModelFile.gif"
            extensions="pog"
            class="de.ugoe.cs.oco.pog.presentation.PogEditor"
            contributorClass="de.ugoe.cs.oco.pog.presentation.PogActionBarContributor">
      </editor>
   </extension>

</plugin>
