<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated POG -->
      <package
            uri="http://swe.simpaas.pog.de/pog"
            class="de.ugoe.cs.oco.pog.PogPackage"
            genModel="model/POG.genmodel"/>
   </extension>

</plugin>
