<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="de.ugoe.cs.as.tosca.designer.Activator"
               id="de.ugoe.cs.oco.tosca.designer"
	       name="project">
    </component>
  </extension>
</plugin>
